
/*DOC CSS*/

*{ margin:0 ;
padding:0 ;}

body{ font-family: sans sans-serif;
background: #b7efb4 !important; }

 
h1{ text-transform: uppercase;}
h2{font-size: 1.5em;
   padding-bottom: 8px;}



.cabecera{ min-height: 80px;
            padding-top: 16px;
            text-align: center;
            border-bottom: 2px solid black;
            bottom: 32px;}

section.cuerpo{ width: 100%;
               padding: 32px 0px;}

.container p { font-size: 16px ;
             line-height: 140%;}

.container a{  display:block;
               margin-top: 16px;
               padding: 16px;
               text-align:center;
               text-decoration: none;
               color: whitesmoke;
               background-color: #58d258;
               border: radius 8px;}

               .container a:hover{ background-color: black;}
             .container a:active{ background-color: green;}

             .container textarea{ width: 100% ;
                    padding: 8px;
                    max-width: 100%;
                    max-height: 120%;
                    min-height: 120%;}

 .container input{ width:100% ;
                padding: 8px;
             margin-bottom: 8px;
             border-radius: 8px;
            border: px 1 px solid rgba(0, 0, 0, 0.126) ;}

            .container {width: 80%;
           margin: auto;
           display: flex;}

.items { width: 50%;
    padding:0px 16px 0px 16px 0px;}

    .pie{width: 100px ;
        height: 90px;
        margin-top: 80px;
        background-color: #4eca47;}
        
::before,.container::after{ content:"" ;
                           display: block
                           ;width: 80px;
                           height: 80px;
                        background-image:url(http://www.w3.org/2000/svg);
                        background-size: 100% 100%;
                        position: relative;
                        top: -35px;
                        left:16px ; }
  
                   .container::after{top: -48px;
                                      left: 16px !important; ;}
        
   #btn{width: 120%;}