/*Doc css*/


.cabecera{width: 100%;
                background-color: rgb(175, 175, 255);
                padding: a 16px 0px;
                }


                *{margin: 0;}



.bi-emoji-smile{ font-size: 6em  ;
                  text-align: center;
                 display:block;
                 color: blueviolet;
                 margin: auto;}

.pie{width: 100px ;
    height: 90px;}
    