

*{margin: 0px;
padding: 0px;}

body{background-color: aqua;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

h1{text-align: center;
padding: 16px opx;
font-size: 32px ;
color: #6f00ff;
text-transform: uppercase;
text-shadow: 0px 0px 3px;}

h2{ padding: 8px 0px;}

.cabecera {min-height: 1px;
background-color: #e2c3ff;
margin-bottom: 15px;}

.musica{width: 80%;
padding: 8px 0px;
margin: auto;
background-color: black;}



.videos{margin: 0px auto 72px auto
    ;display: block;
    width: 50%;
    min-height: 1px;
    display: flex;}



    .pie{margin: auto;
background-color: #f0f8ff;
padding: 16px 0px;}