

/*doc css*/





.article {
        font-family: Arial, sans-serif;
        margin: 5%;
        padding: 0px 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 1px;
        color:aliceblue;
        background-color: #970000
        }


.pie{font-family: Arial, sans-serif;
    margin: 5%;
    padding: 0px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 1px;
    color: black ;
    background-color: aliceblue ;}
        