/*Documento CSS*/
*{margin: 0;
padding: 0;}

/*Encabezados*/
h1{ text-align: center;
    font-family: "Open Sans", serif; }

h2{padding: 8px 16px;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

/*lAYOUT*/

.cabecera{ background-color: #beffe9;
padding: 16px  0px ;}

.listas,.contenido{padding:24px 16px ;
width: 70%;
margin: 70px auto;}

.interno{color: rgb(210, 30, 30);}

.listas ol{border: 2px solid red;}

.contenido p {line-height: 140%;
            padding: 8px 0px 16px 0px;
            }
            .pie span{text-align: center; background-color: aquamarine; 
                font-size: 16 px;}