

*{margin: 0px;
padding: 0px;}

@font-face {
    font-family: 'Coolvetica';
    src: url('..fonts/Coolvetica-Cond.woff2') format('woff2'),
        url('..fonts/Coolvetica-Cond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}


.cabecera{font-family: 'Coolvetica';
         background: coral;
         padding-top: 8px;
         min-height: 1px;}

.logo{ width: 100%;
       min-height: 1px;}

.bar{ width: 100%;
min-height: 40px;}

.logo{color: aliceblue;
       width: 40px;
     font-size: 2em;
    display: block;
    margin: auto;}
    
.container { display:flex ;
             width: 100%;
            flex-flow: row wrap;}



.items{width: 50%;
text-align: center; 
color: black;
background: whitesmoke;
padding: 8px 0px;}

 .container a:first-child{display: none;

                  }
                  /*Break points 600px*/
                  @media only screen and (min-width:600px;){

                    .items{ width: 25%;}
                    .logo{font-size: 3em;}
                  }
 /*Break points 992px*/
 @media only screen and (min-width:992px;){

    .items{ width: 20%;}
    .logo{font-size: 3em;}
    .container a:first-child{display: block; width: 80%;
    m}                
 }

   