/*Documento CSS*/

*{margin: 0px;
pad: 0px ;}


body{ font-family: "Open Sans", sans-serif;}
H1{font-family:"Open Sans", sans-serif ;
    text-align: center;}

.cabecera{margin-bottom: 32px;}

.tablas{ background-color: #7fffd4;
    min-height: 1px;
   
    padding:16px 0px ;}
   
    .tablas table{margin: auto;}
    .divtablas{background-color: #00ffff;
    margin-bottom: 80px;}
    .foot{text-align: center;}
    